<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <meta charset="utf-8">
  <title>DiploEdge</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://kit.fontawesome.com/22b0f3b8a1.js" crossorigin="anonymous"></script> <!-----------------------------------Font Awesome------------------------------>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!--I imported the above because burger menu was not being displayed-->
  <link rel="stylesheet" href="/css/styles.css">



    <!--Imported links from tindog , one of the link is responsible for the drop down of hamburger-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> 
  <link rel="stylesheet" href="css/styles.css">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
  <!------------------------------------End of imported links from Tindog----------------------------------->

</head>
<body>
  
    <!----------------------------------------------------Nav Bar starts-------------------------------------------------------->
    <section id="nav-bar">
        <nav class="navbar navbar-default navbar-expand-lg navbar-dark ">
            <a class="navbar-brand" href=""><img id="logo" src="/images/webLogoPhotoShoped.png" height="60rem" width="60rem">DiploEdge</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarToggler02">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler02">
                <ul class="navbar-nav  ml-auto">
                    <li  class="nav-item" id="home"><a class="nav-link" href="/">HOME</a></li>
                    <li  class="nav-item" id="about"><a class="nav-link" href="/downloads">NOTES</a></li>
                    <li  class="nav-item" id="contact"><a class="nav-link" href="/article">ARTICLES</a></li>
                    <li  class="nav-item" id="contact"><a class="nav-link" href="/notices">NOTICES</a></li>
                </ul>
            </div>
        </nav>
    </section>
    <!-----------------------------------------------Nav Bar ends------------------------------------------------------------------->
      
  
    <div class="container ">
      

